/* @mixin myname(){}   // @include myname(); @function myFn(){}  // myFn(); */
code { color: orange; background: #222; padding: 3px; border: 1px solid orange; }

kbd { padding: 0 3px; border-radius: 3px; border-top: 2px solid #f0f0f0; border-bottom: 2px solid #cdcdcd; border-left: 2px solid #f0f0f0; border-right: 2px solid #e1e1e1; }
