/* @mixin myname(){}   // @include myname(); @function myFn(){}  // myFn(); */
body { margin: 0; padding: 0; }

#wrap { width: 100%; height: 100%; background-color: #fff; }

#headBox { width: 100%; height: 130px; border-bottom: 1px solid #999; }

#headBox .setting_bar { position: relative; width: 100%; height: 40px; background-color: #0b75a4; }

#headBox .setting_bar .setting_element { position: absolute; margin: auto; right: 120px; width: 350px; height: 100%; }

#headBox .setting_bar .setting_element ul { width: 100%; height: 100%; padding: 9px; box-sizing: border-box; display: flex; }

#headBox .setting_bar .setting_element ul li { width: 100%; height: 100%; }

#headBox .setting_bar .setting_element ul li a { display: block; width: 100%; height: 100%; color: #fff; }

#headBox .setting_bar .setting_element ul li a span { display: block; width: 100%; height: 100%; font-size: 14px; font-weight: bold; text-align: center; }

#headBox .nav { display: flex; width: 100%; height: 90px; background-color: #fff; }

#headBox .nav h1 { width: 145px; height: 50px; margin-top: 20px; margin-left: 120px; background-image: url(../img/color.jpg); background-repeat: no-repeat; background-size: contain; }

#headBox .nav ul { display: flex; width: 850px; height: 100%; margin-left: 50px; line-height: 90px; }

#headBox .nav ul li { width: 180px; height: 100%; font-size: 16px; font-weight: bold; text-align: center; margin-left: 50px; }

#headBox .nav ul li a { display: block; width: 100%; height: 100%; color: #222; }

#headBox .nav .search_area { position: absolute; top: 7%; right: 120px; margin: auto; width: 230px; height: 30px; }

#headBox .nav .search_area .search { position: absolute; margin: auto; right: 0; left: 0; top: 0; bottom: 0; width: 100%; height: 100%; border-bottom: 2px solid #0b75a4; }

#headBox .nav .search_area .search #searchBar { float: left; width: 200px; height: 30px; border: none; background-color: rgba(255, 255, 255, 0.2); }

#headBox .nav .search_area .search #searchBar::placeholder { color: #777; }

#headBox .nav .search_area .search .search_icon { float: right; width: 30px; height: 30px; background-color: transparent; color: #0b75a4; }

#main { position: relative; width: 88%; height: 100%; margin: auto; }

#main .processBox { position: absolute; top: 10%; width: 100%; height: 200px; }

#main .processBox .bottom { width: 100%; height: 40px; border-top: 1px solid #0b75a4; border-bottom: 1px solid #0b75a4; }

#main .processBox .bottom span { width: 45%; float: left; margin: 10px 0 0 25px; font-size: 16px; font-weight: bold; color: #222; }

#main .processBox .bottom .wrap_imgText { float: right; width: 45%; height: 100%; }

#main .processBox .bottom .wrap_imgText .bottom_bar { margin: 0 10px 0 0; float: left; width: 25px; height: 40px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../img/download_black.png"); }

#main .processBox .bottom .wrap_imgText p { font-size: 16px; font-weight: bold; line-height: 40px; color: #222; }

#main .processBox .my_01 { float: left; margin-right: 44px; width: 23%; height: 100%; border-top: 2px solid #0b75a4; background-color: #ebf8fd; }

#main .processBox .my_01 .numberBox_01 { display: flex; width: 100%; height: 80px; }

#main .processBox .my_01 .botBox { margin: 20px 10px 0 30px; width: 40px; height: 40px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../img/download_blue.png"); }

#main .processBox .my_01 .number { margin-top: 20px; display: block; width: 50px; height: 50px; font-size: 35px; font-weight: 900; }

#main .processBox .my_01 p { margin: 0 0 20px 30px; font-size: 20px; font-weight: 800; line-height: 30px; }

#main .processBox .my_01 .bottom_01 { width: 100%; height: 40px; background-color: #0b75a4; }

#main .processBox .my_01 .bottom_01 span { float: left; margin: 10px 130px 0 30px; font-size: 16px; font-weight: bold; color: #fff; }

#main .processBox .my_01 .bottom_01 .bottom_bar_01 { margin: 6px 10px 0 0; float: left; width: 25px; height: 25px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../img/download_white.png"); }

#main .processBox .my_01 .bottom_01 p { font-size: 16px; font-weight: bold; line-height: 38px; color: #fff; }

#main .processBox .my_02 { position: relative; float: left; margin-right: 44px; width: 23%; height: 100%; border-top: 2px solid #0b75a4; }

#main .processBox .my_02 ul { display: flex; width: 100%; height: 80%; }

#main .processBox .my_02 ul span { padding-top: 45px; display: block; width: 100%; height: 50px; text-align: center; font-size: 35px; font-weight: 900; }

#main .processBox .my_02 ul p { text-align: center; font-size: 16px; font-weight: 800; }

#main .processBox .my_02 ul .pay_01 { width: 100px; height: 100%; }

#main .processBox .my_02 ul .pay_02 { width: 100px; height: 100%; }

#main .processBox .my_02 ul .pay_02 .line { position: absolute; margin: auto; right: 0; left: 0; top: 0; bottom: 0; bottom: 15%; right: 50%; margin: auto; width: 1px; height: 20%; background-color: #999; }

#main .processBox .my_02 ul .pay_03 { width: 100px; height: 100%; }

#main .processBox .my_02 ul .pay_03 .line { position: absolute; margin: auto; right: 0; left: 0; top: 0; bottom: 0; bottom: 15%; right: 0%; margin: auto; width: 1px; height: 20%; background-color: #999; }

#main .processBox .my_02 ul .pay_04 { width: 100px; height: 100%; }

#main .processBox .my_02 ul .pay_04 .line { position: absolute; margin: auto; right: 0; left: 0; top: 0; bottom: 0; bottom: 15%; right: -50%; margin: auto; width: 1px; height: 20%; background-color: #999; }

#main .processBox .my_03 { float: left; margin-right: 44px; width: 23%; height: 100%; border-top: 2px solid #0b75a4; }

#main .processBox .my_03 .numberBox_02 { width: 100%; height: 80%; }

#main .processBox .my_03 .numberBox_02 span { display: block; width: 100%; height: 45px; padding-top: 35px; font-size: 30px; font-weight: 900; text-align: center; }

#main .processBox .my_03 .numberBox_02 p { font-size: 16px; font-weight: 800; text-align: center; line-height: 25px; }

#main .processBox .my_04 { float: right; width: 23%; height: 100%; border-top: 2px solid #0b75a4; }

#main .processBox .my_04 .numberBox_03 { width: 100%; height: 80%; }

#main .processBox .my_04 .numberBox_03 span { display: block; width: 100%; height: 45px; padding-top: 35px; font-size: 30px; font-weight: 900; text-align: center; }

#main .processBox .my_04 .numberBox_03 p { font-size: 16px; font-weight: 800; text-align: center; line-height: 25px; }

#main .iconBox { position: absolute; top: 45%; width: 100%; height: 200px; }

#main .iconBox a { display: block; width: 100%; height: 100%; font-weight: bold; color: #222; }

#main .iconBox a span { display: block; width: 100%; height: 100%; line-height: 350px; text-align: center; font-weight: bold; font-size: 16px; }

#main .iconBox .icon_01 { float: left; width: 262px; margin-right: 18px; height: 100%; background-color: #0b75a4; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../img/gmail.png"); background-size: 40%; background-position: 50% 40%; }

#main .iconBox .icon_01 a { display: block; width: 100%; height: 100%; color: #fff; }

#main .iconBox .icon_02 { float: left; width: 262px; margin-right: 18px; height: 100%; border: 1px solid #0b75a4; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../img/card.png"); background-size: 35%; background-position: 50% 40%; }

#main .iconBox .icon_03 { float: left; width: 262px; margin-right: 18px; height: 100%; border: 1px solid #0b75a4; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../img/center.png"); background-size: 35%; background-position: 50% 40%; }

#main .iconBox .icon_04 { float: left; width: 262px; margin-right: 18px; height: 100%; border: 1px solid #0b75a4; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../img/person.png"); background-size: 40%; background-position: 50% 40%; }

#main .iconBox .icon_05 { float: left; width: 262px; margin-right: 18px; height: 100%; border: 1px solid #0b75a4; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../img/check.png"); background-size: 40%; background-position: 50% 40%; }

#main .iconBox .icon_06 { float: left; width: 262px; height: 100%; border: 1px solid #0b75a4; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../img/monitor.png"); background-size: 40%; background-position: 50% 40%; }

#main .sectionBox { position: relative; top: 85%; width: 100%; height: 100%; }

#main .sectionBox .projectBox { width: 350px; height: 530px; }

#main .sectionBox .projectBox span { display: block; width: 60%; height: 70px; font-size: 18px; font-weight: bold; text-align: center; line-height: 70px; }

#main .sectionBox .projectBox i { position: absolute; top: 0; right: 0; display: block; width: 30%; height: 70px; font-size: 20px; font-weight: bold; text-align: center; line-height: 70px; }

#main .sectionBox .projectBox .project_01 { position: relative; width: 100%; height: 70px; border: 1px solid #0b75a4; }

#main .sectionBox .projectBox .project_02 { position: relative; margin-top: 20px; width: 100%; height: 70px; border: 1px solid #0b75a4; }

#main .sectionBox .projectBox .project_03 { position: relative; margin-top: 20px; width: 100%; height: 70px; border: 1px solid #0b75a4; }

#main .sectionBox .projectBox .project_04 { position: relative; margin-top: 20px; width: 100%; height: 70px; border: 1px solid #0b75a4; }

#main .sectionBox .projectBox .project_05 { position: relative; margin-top: 20px; width: 100%; height: 70px; border: 1px solid #0b75a4; }

#main .sectionBox .projectBox .project_06 { position: relative; margin-top: 20px; width: 100%; height: 70px; border: 1px solid #0b75a4; }

#main .sectionBox .newsBox { display: flex; position: absolute; top: 0; right: 0; width: 70%; height: 150px; }

#main .sectionBox .newsBox span { display: block; font-size: 20px; font-weight: bold; margin-bottom: 20px; }

#main .sectionBox .newsBox p { font-size: 16px; font-weight: normal; line-height: 30px; }

#main .sectionBox .newsBox .news_01 { width: 25%; height: 100%; }

#main .sectionBox .newsBox .news_02 { margin-left: 150px; width: 25%; height: 100%; }

#main .sectionBox .newsBox .news_03 { margin-left: 140px; width: 25%; height: 100%; }

#main .sectionBox .slideBox { position: absolute; top: 18%; right: 0; width: 70%; height: 330px; background-color: #444; }

#main .sectionBox .slideBox .imgBox { width: 100%; height: 330px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../img/news.jpg"); background-size: cover; }

#main .sectionBox .slideBox .indicatorBox { width: 20%; height: 30px; margin: auto; }

#main .sectionBox .slideBox .indicatorBox ul { margin-left: 25%; margin-top: 10px; display: flex; width: 100%; height: 100%; }

#main .sectionBox .slideBox .indicatorBox ul .indicator_01 { width: 10px; height: 10px; border-radius: 100%; border: 1px solid #0b75a4; background-color: #0b75a4; }

#main .sectionBox .slideBox .indicatorBox ul .indicator_02 { margin-left: 10px; width: 10px; height: 10px; border-radius: 100%; border: 1px solid #0b75a4; }

#main .sectionBox .slideBox .indicatorBox ul .indicator_03 { margin-left: 10px; width: 10px; height: 10px; border-radius: 100%; border: 1px solid #0b75a4; }

#main .sectionBox .slideBox .indicatorBox ul .indicator_04 { margin-left: 10px; width: 10px; height: 10px; border-radius: 100%; border: 1px solid #0b75a4; }

#main .sectionBox .listBox { display: flex; margin-top: 10%; width: 100%; height: 300px; }

#main .sectionBox .listBox .list_01 { margin-right: 2%; width: 48%; height: 100%; }

#main .sectionBox .listBox .list_01 .list { position: relative; width: 100%; height: 70px; }

#main .sectionBox .listBox .list_01 .list span { display: block; font-size: 30px; font-weight: 900; text-align: center; }

#main .sectionBox .listBox .list_01 .list p { position: absolute; top: 50%; right: 0; font-size: 14px; font-weight: 900; text-align: right; }

#main .sectionBox .listBox .list_01 .bot_list { width: 100%; height: 230px; border: 1px solid #999; }

#main .sectionBox .listBox .list_01 .bot_list .list_bar { width: 100%; height: 50px; background-color: #0b75a4; }

#main .sectionBox .listBox .list_01 .bot_list .list_bar ul { display: flex; width: 100%; height: 100%; }

#main .sectionBox .listBox .list_01 .bot_list .list_bar ul li { padding-top: 15px; margin-left: 40px; width: 200px; height: 100%; font-size: 16px; font-weight: bold; color: #fff; }

#main .sectionBox .listBox .list_01 .bot_list .wrap_menu ul { display: flex; width: 100%; height: 100%; }

#main .sectionBox .listBox .list_01 .bot_list .wrap_menu ul li { padding-top: 15px; text-align: center; width: 100px; height: 30px; font-size: 16px; font-weight: normal; color: #222; }

#main .sectionBox .listBox .list_01 .bot_list .wrap_menu ul li:nth-child(2) { width: 230px; }

#main .sectionBox .listBox .list_01 .bot_list .wrap_menu ul li:nth-child(3) { margin-right: 55px; }

#main .sectionBox .listBox .list_01 .bot_list .wrap_menu ul li:nth-child(4) { margin-right: 80px; }

#main .sectionBox .listBox .list_01 .bot_list .wrap_menu ul .red { color: #f06; font-weight: 900; }

#main .sectionBox .listBox .list_02 { margin-right: 2%; width: 48%; height: 100%; }

#main .sectionBox .listBox .list_02 .share { position: relative; width: 100%; height: 70px; }

#main .sectionBox .listBox .list_02 .share span { display: block; font-size: 30px; font-weight: 900; text-align: center; }

#main .sectionBox .listBox .list_02 .share p { position: absolute; top: 50%; right: 0; font-size: 14px; font-weight: 900; text-align: right; }

#main .sectionBox .listBox .list_02 .bot_list_02 { width: 100%; height: 230px; border: 1px solid #999; }

#main .sectionBox .listBox .list_02 .bot_list_02 .list_bar_02 { width: 100%; height: 50px; background-color: #0b75a4; }

#main .sectionBox .listBox .list_02 .bot_list_02 .list_bar_02 ul { display: flex; width: 100%; height: 100%; }

#main .sectionBox .listBox .list_02 .bot_list_02 .list_bar_02 ul li { padding-top: 15px; margin-left: 40px; width: 200px; height: 100%; font-size: 16px; font-weight: bold; color: #fff; }

#main .sectionBox .listBox .list_02 .bot_list_02 .wrap_menu ul { display: flex; width: 100%; height: 100%; }

#main .sectionBox .listBox .list_02 .bot_list_02 .wrap_menu ul li { padding-top: 15px; text-align: center; width: 110px; height: 30px; font-size: 16px; font-weight: normal; color: #222; }

#main .sectionBox .listBox .list_02 .bot_list_02 .wrap_menu ul li:nth-child(2) { width: 350px; }

#main .sectionBox .listBox .list_02 .bot_list_02 .wrap_menu ul li:nth-child(3) { margin-left: 25px; }

#main .sectionBox .storeBox { margin-top: 10%; width: 100%; height: 600px; }

#main .sectionBox .storeBox dl { margin: 50px 0 0 50px; width: 400px; height: 80%; font-size: 25px; }

#main .sectionBox .storeBox dl dt { margin-top: 10px; width: 100%; height: 60px; font-size: 25px; font-weight: 900; }

#main .sectionBox .storeBox dl dd { width: 200px; height: 50px; font-size: 16px; font-weight: 800; color: #777; }

#main .sectionBox .storeBox a { margin-top: -50px; margin-left: 50px; display: block; width: 100px; height: 20px; }

#main .sectionBox .storeBox a span { display: block; width: 60px; height: 100%; font-size: 16px; color: #222; font-weight: bold; }

#main .sectionBox .storeBox a i { margin-left: 70px; margin-top: -17px; display: block; width: 40px; height: 100%; color: #222; }

#main .sectionBox .storeBox .cloud { position: relative; width: 100%; height: 300px; }

#main .sectionBox .storeBox .cloud .cloud_img { width: 40%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../img/cloud.jpg"); background-size: cover; }

#main .sectionBox .storeBox .cloud .cloud_text { position: absolute; top: 0; right: 0; width: 60%; height: 100%; }

#main .sectionBox .storeBox .develop { position: relative; top: 5%; width: 100%; height: 300px; }

#main .sectionBox .storeBox .develop .develop_img { position: absolute; right: 0; width: 40%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../img/develop.jpg"); background-size: cover; }

#main .sectionBox .storeBox .develop .develop_text { position: absolute; top: 0; left: -70%; width: 65%; height: 100%; }

#main .sectionBox .storeBox .develop .develop_text dl { background-color: #faf; text-align: right; margin: 50px 0 0 50px; width: 350px; height: 80%; font-size: 25px; }

#main .sectionBox .storeBox .develop .develop_text dl dt { text-align: right; margin-top: 10px; width: 100%; height: 60px; font-size: 25px; font-weight: 900; }

#main .sectionBox .storeBox .develop .develop_text dl dd { text-align: right; width: 100%; height: 50px; font-size: 16px; font-weight: 800; color: #777; }

#main .sectionBox .storeBox .develop .develop_text a { position: absolute; right: 9%; margin-top: -50px; display: block; width: 80px; height: 20px; }

#main .sectionBox .storeBox .develop .develop_text a span { display: block; width: 80px; height: 100%; font-size: 16px; color: #222; font-weight: bold; }

#main .sectionBox .storeBox .develop .develop_text a span i { margin-top: -17px; display: block; width: 10px; height: 100%; color: #222; }

#footBox { display: flex; position: relative; bottom: -190%; width: 100%; height: 200px; border-top: 1px solid #999; }

#footBox .logoBox { position: relative; width: 30%; height: 100%; }

#footBox .logoBox .logo_img { position: absolute; margin: auto; right: 0; left: 0; top: 0; bottom: 0; right: -60%; width: 160px; height: 160px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url("../img/gray.gif"); }

#footBox .address { width: 70%; height: 100%; }

#footBox .address dl { padding-top: 50px; font-weight: bold; line-height: 25px; color: #999; font-size: 14px; }
