/* @mixin myname(){}   // @include myname(); @function myFn(){}  // myFn(); */
body { margin: 0; padding: 0; }

#wrap { width: 100%; height: 100%; background-color: #fff; }

#headBox { width: 100%; height: 130px; background-color: #777; border-bottom: 1px solid #999; }

#headBox .setting_bar { position: relative; width: 100%; height: 40px; background-color: #0b75a4; }

#headBox .setting_bar .setting_element { width: 280px; height: 100%; }

#headBox .setting_bar .setting_element ul { position: absolute; margin: auto; right: 120px; width: 280px; height: 100%; padding: 9px; box-sizing: border-box; display: flex; }

#headBox .setting_bar .setting_element ul li { font-size: 14px; margin-left: 24px; color: #fff; }

#headBox .setting_bar .setting_element ul li a { display: block; width: 100%; height: 100%; color: #fff; }

#headBox .nav { display: flex; width: 100%; height: 90px; background-color: #fff; }

#headBox .nav h1 { width: 145px; height: 50px; margin-top: 20px; margin-left: 120px; background-image: url(../img/color.jpg); background-repeat: no-repeat; background-size: contain; }

#headBox .nav ul { display: flex; width: 750px; height: 100%; margin-left: 50px; line-height: 90px; }

#headBox .nav ul li { width: 150px; height: 100%; font-size: 16px; font-weight: bold; text-align: center; margin-left: 50px; }

#headBox .nav ul li a { display: block; width: 100%; height: 100%; color: #222; }

#headBox .nav .search_area { position: absolute; top: 7%; right: 120px; margin: auto; width: 230px; height: 30px; }

#headBox .nav .search_area .search { position: absolute; margin: auto; right: 0; left: 0; top: 0; bottom: 0; width: 100%; height: 100%; border-bottom: 2px solid #0b75a4; }

#headBox .nav .search_area .search #searchBar { float: left; width: 200px; height: 30px; border: none; background-color: rgba(255, 255, 255, 0.2); }

#headBox .nav .search_area .search #searchBar::placeholder { color: #777; }

#headBox .nav .search_area .search .search_icon { float: right; width: 30px; height: 30px; background-color: transparent; color: #0b75a4; }

#main { position: relative; width: 88%; height: 100%; background-color: #999; margin: auto; }

#main .processBox { position: absolute; top: 10%; width: 100%; height: 200px; background-color: #777; }

#main .processBox .my_01 { float: left; margin-right: 44px; width: 23%; height: 100%; background-color: #fa0; }

#main .processBox .my_02 { float: left; margin-right: 44px; width: 23%; height: 100%; background-color: #444; }

#main .processBox .my_03 { float: left; margin-right: 44px; width: 23%; height: 100%; background-color: #333; }

#main .processBox .my_04 { float: right; width: 23%; height: 100%; background-color: #222; }

#main .iconBox { position: absolute; top: 45%; width: 100%; height: 200px; background-color: #777; }

#main .iconBox .icon_01 { float: left; width: 262px; margin-right: 18px; height: 100%; border: 1px solid #fff; background-color: #666; }

#main .iconBox .icon_02 { float: left; width: 262px; margin-right: 18px; height: 100%; border: 1px solid #fff; background-color: #555; }

#main .iconBox .icon_03 { float: left; width: 262px; margin-right: 18px; height: 100%; border: 1px solid #fff; background-color: #444; }

#main .iconBox .icon_04 { float: left; width: 262px; margin-right: 18px; height: 100%; border: 1px solid #fff; background-color: #333; }

#main .iconBox .icon_05 { float: left; width: 262px; margin-right: 18px; height: 100%; border: 1px solid #fff; background-color: #222; }

#main .iconBox .icon_06 { float: left; width: 262px; height: 100%; border: 1px solid #fff; background-color: #111; }

#main .sectionBox { position: absolute; top: 85%; width: 100%; height: 100%; background-color: #faf; }

#main .sectionBox .projectBox { width: 350px; height: 530px; background-color: #fa0; }

#main .sectionBox .projectBox .project_01 { width: 100%; height: 70px; border: 1px solid #0b75a4; }

#main .sectionBox .projectBox .project_02 { margin-top: 20px; width: 100%; height: 70px; border: 1px solid #0b75a4; }

#main .sectionBox .projectBox .project_03 { margin-top: 20px; width: 100%; height: 70px; border: 1px solid #0b75a4; }

#main .sectionBox .projectBox .project_04 { margin-top: 20px; width: 100%; height: 70px; border: 1px solid #0b75a4; }

#main .sectionBox .projectBox .project_05 { margin-top: 20px; width: 100%; height: 70px; border: 1px solid #0b75a4; }

#main .sectionBox .projectBox .project_06 { margin-top: 20px; width: 100%; height: 70px; border: 1px solid #0b75a4; }

#main .sectionBox .newsBox { display: flex; position: absolute; top: 0; right: 10%; width: 60%; height: 200px; background-color: #d1a; }

#main .sectionBox .newsBox .news_01 { width: 300px; height: 100%; background-color: #999; }

#main .sectionBox .newsBox .news_02 { margin-left: 53px; width: 300px; height: 100%; background-color: #888; }

#main .sectionBox .newsBox .news_03 { margin-left: 53px; width: 300px; height: 100%; background-color: #777; }

#main .sectionBox .slideBox { position: absolute; top: 25%; right: 10%; width: 60%; height: 330px; background-color: #444; }

#main .sectionBox .slideBox .imgBox { width: 100%; height: 300px; background-color: #999; }

#main .sectionBox .slideBox .indicatorBox { width: 20%; height: 30px; margin: auto; background-color: #fa0; }

#main .sectionBox .slideBox .indicatorBox ul { margin-left: 25%; margin-top: 10px; display: flex; width: 100%; height: 100%; }

#main .sectionBox .slideBox .indicatorBox ul .indicator_01 { width: 15px; height: 15px; border-radius: 100%; background-color: #fff; }

#main .sectionBox .slideBox .indicatorBox ul .indicator_02 { margin-left: 10px; width: 15px; height: 15px; border-radius: 100%; background-color: #fff; }

#main .sectionBox .slideBox .indicatorBox ul .indicator_03 { margin-left: 10px; width: 15px; height: 15px; border-radius: 100%; background-color: #fff; }

#main .sectionBox .slideBox .indicatorBox ul .indicator_04 { margin-left: 10px; width: 15px; height: 15px; border-radius: 100%; background-color: #fff; }

#main .sectionBox .listBox { display: flex; margin-top: 10%; width: 100%; height: 300px; background-color: #444; }

#main .sectionBox .listBox .list_01 { margin-right: 2%; width: 48%; height: 100%; background-color: #999; }

#main .sectionBox .listBox .list_02 { margin-left: 2%; width: 48%; height: 100%; background-color: #fa0; }

#main .sectionBox .storeBox { margin-top: 10%; width: 100%; height: 600px; background-color: #444; }

#main .sectionBox .storeBox .cloud { width: 100%; height: 300px; background-color: #777; }

#main .sectionBox .storeBox .develop { width: 100%; height: 300px; background-color: #555; }

#footBox { display: flex; position: absolute; bottom: -220%; width: 100%; height: 200px; background-color: #fa0; }

#footBox .logo { width: 30%; height: 100%; background-color: #999; }

#footBox .address { width: 70%; height: 100%; background-color: #777; }
