@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
body {font-family:'NanumSquare',sans-serif;}
.normal     { font-weight: 400 }
.bold       { font-weight: 700 }
.bolder     { font-weight: 800 }
.light      { font-weight: 300 }

#wrap {width: 100%; height: 100%;}
h1 {width: 200px; height:auto; margin:auto;}
.statL {width:607px; height: auto; margin:auto;
    tr {text-align: center; 
        th {font-size:13px; color:#333; background-color:rgba(220,140,220,0.3); padding:5px 0; box-sizing: border-box; }
        td {font-size:13px; padding:5px; font-weight:400;} 
     }
} // .statL