@import "./_basic/var";
@import "./_basic/mixin";
@import "./_basic/etc";

body {padding:0; margin:auto;}
#wrap {width: 1120px; height: 100%; padding-top:50px;}
h1 {color:blue;}


.exBox {
    display: flex;
    width: 100%;
    height: 230px;

    th {
        border:1px solid red;
        padding:10px;
    }

    td {
        border:1px solid red;
        padding:10px;
    }

.ex_01 {
    border-collapse:collapse;
    text-align: center;
    margin-right:100px;

    } // .ex_01
    
.ex_02 {
    border-collapse:collapse;
    text-align: center;
    margin-right:100px;
    margin-top:50px;
    } // .ex_02

.ex_03 {
    border-collapse:collapse;
    text-align: center;
    margin-top:15px;
    margin-right:100px;
    } // .ex_03

.ex_04 {
    border-collapse:collapse;
    text-align: center;
    margin-top:15px;
    } // .ex_04
}