body { margin: 0; padding: 0; }

#headBox { background-color: #fa0; }

#headBox .nav ul { display: flex; }

#headBox .nav ul li { list-style: none; margin: 10px; }

#mainBox { display: flex; }

#mainBox #section { width: 70%; background-color: #fa0; margin: 10px; padding: 10px; box-sizing: border-box; }

#mainBox #section article { background-color: #faf; margin-bottom: 10px; padding: 10px; }

#mainBox aside { width: 30%; background-color: #ada; margin: 10px; padding: 20px; box-sizing: border-box; }

#footBox { background-color: #f2a; }

#footBox address a { display: block; }
