body { margin: 0; padding: 0; }

.header { width: 100%; height: 75px; border-bottom: 1px solid lightgray; }

.header .container { width: 980px; height: 75px; margin: auto; }

.header .container .container-left { width: 370px; height: 75px; float: left; padding-top: 20px; padding-bottom: 20px; }

.header .container .container-left .logo { margin-right: 5px; float: left; }

.header .container .container-left .logo img { display: block; }

.header .container .container-left .memu { width: 500px; height: 50px; }

.header .container .container-left .memu .menu-item { font-size: 16px; padding: 8px 10px; float: left; line-height: 1; font-weight: bold; }

.header .clearfix::after { content: " "; display: block; clear: both; }
