body { margin: 0; padding: 0; }

#wrap { width: 100%; height: 100%; background-color: #999; }

#headBox { width: 100%; height: 130px; background-color: #777; }

#headBox .setting_bar { position: relative; width: 100%; height: 40px; background-color: #0b75a4; }

#headBox .setting_bar .setting_element { width: 280px; height: 100%; }

#headBox .setting_bar .setting_element ul { position: absolute; margin: auto; right: 120px; width: 280px; height: 100%; padding: 9px; box-sizing: border-box; display: flex; }

#headBox .setting_bar .setting_element ul li { font-size: 14px; margin-left: 24px; color: #fff; }

#headBox .setting_bar .setting_element ul li a { display: block; width: 100%; height: 100%; color: #fff; }

#headBox .nav { display: flex; width: 100%; height: 90px; background-color: #fff; }

#headBox .nav h1 { width: 145px; height: 50px; margin-left: 120px; background-image: url(../img/color.jpg); background-repeat: no-repeat; background-size: contain; }

#headBox .nav ul { display: flex; width: 750px; height: 100%; margin-left: 50px; line-height: 90px; }

#headBox .nav ul li { width: 150px; height: 100%; font-size: 16px; font-weight: bold; text-align: center; margin-left: 50px; }

#headBox .nav ul li a { display: block; width: 100%; height: 100%; color: #222; }
